<tr>
	<td class="interaction-date">{{interactionDate}}</td>
	<td class="knocked">{{knocked}}</td>
	<td class="literature">{{literature}}</td>
	<td class="petition">{{petition}}</td>
	<td class="user">{{user}}</td>
</tr>