<tr>
	<td class="election-date">{{voterhistory.electionDate}}</td>
	<td class="election-name">{{voterhistory.electionName}}</td>
	<td class="election-type">{{voterhistory.electionType}}</td>
	<td class="election-category">{{voterhistory.electionCategory}}</td>
	<td class="ballot-type">{{voterhistory.ballotType}}</td>
</tr>